@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    ViewData["image_url"] = "http://166764593.winzone58.grserver.gr/Memory-Pic/images/memorypic_logo.jpg";
    ViewData["cannon_url"] = "http://166764593.winzone58.grserver.gr/Memory-Pic";
}
<div id="fb-root"></div>
<div class="d-flex flex-column bd-highlight mb-3" style="background-color: #faebd7;">
    <form asp-page="./Index" method="get">
        <div class="form-actions no-color">


            <div class="wrap">
                <div class="search">
                    <input type="text" style="font-family:Arial, FontAwesome"  class="searchTerm" name="SearchString" id="txtLocation" value="@Model.NameFilter" placeholder="FIND YOUR PICTURE &#xF002;" />
                    <input type="submit" class="searchButton" value="Search" />
                </div>
            </div>
        </div>
    </form>


    <div class="p-2 bd-highlight">
        <div class="Card" style="width:100%;">
            <div class="container-fluid">
                <div class="row">

                    <div class="col-sm-6">

                        <div id="slide-1" class="slideshow-container">
                            <div class="mySlides">
                                <div class="numbertext">1 / 3</div>
                                <div class="text-slider"><h2>Φηρα/Fira</h2></div>
                                <a asp-page="Index" asp-route-searchString="Φυρα"><img src="~/images/SlideB_1-2.webp" class="slide-image" ></a>

                            </div>
                            <div class="mySlides">
                                <div class="numbertext">2/ 3</div>
                                <div class="text-slider"><h2>Φηρα/Fira</h2></div>
                                <a asp-page="Index" asp-route-searchString="Φυρα"><img src="~/images/SlideB_2-2.webp" class="slide-image" ></a>

                            </div>
                            <div class="mySlides">
                                <div class="numbertext">3 / 3</div>
                                <div class="text-slider"><h2>Φηρα/Fira</h2></div>
                                <a asp-page="Index" asp-route-searchString="Φυρα"><img src="~/images/SlideB_3-2.webp" class="slide-image" ></a>

                            </div>

                            <a class="prev" onclick="plusSlides(-1, 'slide-1')">&#10094;</a>
                            <a class="next" onclick="plusSlides(1 , 'slide-1')">&#10095;</a>
                        </div>

                        <div style="text-align:center">
                            <span class="dot" onclick="currentSlide(1)"></span>
                            <span class="dot" onclick="currentSlide(2)"></span>
                            <span class="dot" onclick="currentSlide(3)"></span>
                        </div>
                    </div>

                    <div class="col-sm-6">

                        <div id="slide-2" class="slideshow-container">
                            <div class="mySlides">
                                <div class="numbertext"></div>
                                <div class="text-slider"><h2>OIA</h2></div>
                                <a asp-page="Index" asp-route-searchString="oia"><img src="~/images/SlideA_1-1.webp" class="slide-image" ></a>

                            </div>
                            <div class="mySlides">
                                <div class="numbertext">2 / 3</div>
                                <div class="text-slider"><h2>OIA</h2></div>
                                <a asp-page="Index" asp-route-searchString="oia"><img src="~/images/SlideA_2-1.webp" class="slide-image" ></a>

                            </div>
                            <div class="mySlides">
                                <div class="numbertext">3 / 3</div>
                                <div class="text-slider"><h2>OIA</h2></div>
                                <a asp-page="Index" asp-route-searchString="oia"><img src="~/images/SlideA_3-1.webp" class="slide-image" ></a>

                            </div>

                            <a class="prev" onclick="plusSlides(-1, 'slide-2')">&#10094;</a>
                            <a class="next" onclick="plusSlides(1, 'slide-2')">&#10095;</a>
                        </div>

                        <div style="text-align:center">
                            <span class="dot" onclick="currentSlide(1)"></span>
                            <span class="dot" onclick="currentSlide(2)"></span>
                            <span class="dot" onclick="currentSlide(3)"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="p-2 bd-highlight">

        <input type="hidden" id="counter" name="counter" value="0">
        <input type="hidden" id="index" name="index" value="0">
        <div id="main-grid" class="d-flex align-content-around flex-wrap">
            @if(Model.PhotoBlobs != null)
                @foreach (var photo in Model.PhotoBlobs)
                {
                    <div class="main-pic-container">
                        <a asp-page="./Pictures/Details" asp-route-photoUrl="@photo.Url" asp-route-name="@photo.Name">
                            <div class="main-pic">
                                <img class="front-image" src="@photo.Url" />


                            </div>
                        </a>
                        <div class="main-pic-menu">
                            <a class="share-ico" href="">
                                <img onclick='myShare("@Model.Url/Pictures/Details/@Html.UrlEncoder.Encode(photo.Url.ToString())?name=@photo.Name")' src="~/images/facebook-share-button3.png" />
                            </a>
                            <a onclick="return createTimedLink(this, myFunction, 2000);" class="download-ico" href="@photo.Url" download="@photo.Name">
                                <img src="~/images/download-icon-red.webp" />
                            </a>
                        </div>
                    </div>
                }
        </div>
    </div>


</div>