@page
@model PhotoShare.Pages.PhotoUsers.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-area="" asp-page="/Photgraphers/RegisterPhotographer">CreateNew photographer</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Photographer[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Photographer[0].City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Photographer[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Photographer[0].ProfilePic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Photographer[0].Degree)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Photographer[0].YearsOfExperience)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Photographer[0].PhoneNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Photographer) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProfilePic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Degree)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YearsOfExperience)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
