@page
@model PhotoShare.Pages.Country.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<link href="~/css/simple-sidebar.css" rel="stylesheet" />
<div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
        <div class="sidebar-heading">Start Bootstrap </div>
        <div class="list-group list-group-flush">
            <a asp-page="../Count/Index" class="list-group-item list-group-item-action" style="background-color: #69F0AE;">Countries</a>
            <a asp-page="../Prov/Index" class="list-group-item list-group-item-action bg-light">Provinces</a>
            <a asp-page="../PArea/Index" class="list-group-item list-group-item-action bg-light">Areas</a>
            <a asp-page="../Loc/Index" class="list-group-item list-group-item-action bg-light">Locations</a>
            <a asp-page="../Pictures/Index" class="list-group-item list-group-item-action bg-light">Pictures</a>
            <a href="#" class="list-group-item list-group-item-action bg-light">Status</a>
        </div>
    </div>
    <!-- /#sidebar-wrapper -->
    <!-- Page Content -->
    <div id="page-content-wrapper">

        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
            <button class="btn btn-primary" id="menu-toggle">Toggle Menu</button>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Dropdown
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="container-fluid">
            <!-- /#page-content-wrapper -->
            <h1>Details</h1>

            <div class="d-flex" id="wrapper">
                <div>
                    <h4>Country</h4>
                    <hr />
                    <dl class="row">
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Country.Name)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Country.Name)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Country.TelephonePrefix1)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Country.TelephonePrefix1)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Country.TelephonePrefix2)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Country.TelephonePrefix2)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Country.Outposts)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Country.Outposts)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Country.NumberOfPictures)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Country.NumberOfPictures)
                        </dd>
                    </dl>
                </div>
                <div>
                    <a asp-page="./Edit" asp-route-id="@Model.Country.ID">Edit</a> |
                    <a asp-page="./Index">Back to List</a>
                </div>

            </div>
        </div>
    </div>










</div>
<!-- /#wrapper -->
<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Menu Toggle Script -->
<script>
    $("#menu-toggle").click(function (e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
</script>















