@page
@using PhotoShare.ViewComponents
@using PhotoShare.Views.Shared.Components.AdminMenu
@model PhotoShare.Pages.Country.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<link href="~/css/simple-sidebar.css" rel="stylesheet" />
<div class="d-flex" id="wrapper">

    @await Component.InvokeAsync("AdminMenu", new AdminMenuViewModel(typeof(CreateModel).Namespace))

    <!-- /#sidebar-wrapper -->
    <!-- Page Content -->
    <div id="page-content-wrapper">

        @{
            await Html.RenderPartialAsync("_ToggleMenuPartial");
        }

        <div class="container-fluid">
            <!-- /#page-content-wrapper -->
            <h1>Index</h1>

            <p>
                <a asp-page="Create">Create New</a>
            </p>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Country[0].Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Country[0].TelephonePrefix1)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Country[0].TelephonePrefix2)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Country[0].Outposts)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Country[0].NumberOfPictures)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Country)
                    {
                        <tr>
                            <td>
                                <a asp-page="./Details" asp-route-id="@item.ID">@Html.DisplayFor(modelItem => item.Name)</a>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TelephonePrefix1)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TelephonePrefix2)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Outposts)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NumberOfPictures)
                            </td>
                            <td>
                                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>