@page
@using PhotoShare.Areas.Identity.Pages.Photgraphers
@model RegisterPhotographersModel
@{
    ViewData["Title"] = "Register";
}
<link href="~/css/Globals.css" rel="stylesheet" />
<link href="~/css/PhotographersRegister.css" rel="stylesheet" />
<h1>@ViewData["Title"]</h1>

<div style="margin-bottom:100px;height:70%;overflow:scroll;" class="row">
    <div class="col-md-4">
        <form asp-route-returnUrl="@Model.ReturnUrl" enctype="multipart/form-data" method="post">
            <h4>Create a new account.</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Name"></label>
                <input asp-for="Input.Name" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Upload"></label>
                <input type="file" name="upload" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Input.PhoneNumber"></label>
                <input asp-for="Input.PhoneNumber" class="form-control" />
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            @if (ViewData["UserRoleToRegister"]?.ToString() == "PHOTOGRAPHER")
            {
                <div class="form-group">
                    <label asp-for="Input.City"></label>
                    <input asp-for="Input.City" class="form-control" />
                    <span asp-validation-for="Input.City" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.YearsOfExpirience"></label>
                    <input asp-for="Input.YearsOfExpirience" class="form-control" />
                    <span asp-validation-for="Input.YearsOfExpirience" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Degree"></label>
                    <input asp-for="Input.Degree" class="form-control" />
                    <span asp-validation-for="Input.Degree" class="text-danger"></span>
                </div>
            }

            <div class="form-group">
                <input type="hidden" asp-for="Input.UserRoleToRegister" value=@ViewData["UserRoleToRegister"] class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Input.DOB"></label>
                <input asp-for="Input.DOB" class="form-control" />
            </div>
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
            <h4>Use another service to register.</h4>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                            for details on setting up this ASP.NET application to support logging in via external services.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
