@page
@using PhotoShare.Views.Shared.Components.AdminMenu
@model PhotoShare.Pages.Province.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<link href="~/css/simple-sidebar.css" rel="stylesheet" />
<div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    @await Component.InvokeAsync("AdminMenu", new AdminMenuViewModel(typeof(CreateModel).Namespace))

    <!-- /#sidebar-wrapper -->
    <!-- Page Content -->
    <div id="page-content-wrapper">

        @{
            await Html.RenderPartialAsync("_ToggleMenuPartial");
        }

        <div class="container-fluid">

            <h1>Index</h1>

            <p>
                <a asp-page="Create">Create New</a>
            </p>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Province[0].Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Province[0].TelephonePrefix1)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Province[0].TelephonePrefix2)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Province[0].NumberOfOutposts)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Province[0].NumberOfPictures)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Province[0].NumberOfPhotographers)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Province)
                    {
                        <tr>
                            <td>
                                <a asp-page="./Details" asp-route-id="@item.ID">@Html.DisplayFor(modelItem => item.Name)</a>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TelephonePrefix1)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NumberOfOutposts)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NumberOfPictures)
                            </td>
                            <td>
                                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>










</div>
<!-- /#wrapper -->
<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Menu Toggle Script -->
<script>
    $("#menu-toggle").click(function (e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
</script>