<!DOCTYPE html>
<html lang="en">
<head>
    <meta property="og:url" content="@ViewData["cannon_url"]" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="@ViewData["name"]" />
    <meta property="og:description" content="Search photos with memory pic" />
    <meta property="og:image" content="@ViewData["image_url"]" />
    <meta property="fb:app_id" content="566054317747874" />
    <meta property="og:image:width" content="640" />
    <meta property="og:image:height" content="442" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Photo</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/css/slide-show.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/css/jquery-ui.css" rel="stylesheet" />
    <link href="~/css/searchItem.css" rel="stylesheet" />
    <link href="~/css/globals.css" rel="stylesheet" />

    <script src="~/js/jquery-1.10.0.min.js"></script>
    <script src="~/js/jquery-ui.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/slideshow.js"></script>
    
</head>
<body>
    <header>

        <div class="container-fluid">
            <div class="row">
                <div class="col-2 col-md-2 col-sm-2">
                    <a class="navbar-brand" asp-area="" asp-page="/Index">
                        <img src="~/images/logo.png" height="90" width="220" />
                    </a>
                </div>

                <div class="col-8 col-md-10 col-sm-10 main-menu">

                    <div class="my-nav">
                        <ul>

                            <li>
                                <a class="nav-link text-dark" asp-page="/Photgraphers/Index">Our photographers</a>
                            </li>
                            <li>
                                <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">How we work</a>
                            </li>
                            <li>
                                <a class="nav-link text-dark" asp-area="" asp-page="/Contact">Contacts</a>
                            </li>
                        </ul>
                    </div>
                    <div class="dropdown">

                        <img onclick="toggleDropdown()" class="dropbtn" src="~/images/menu.png" />
                        <div id="myDropdown" class="dropdown-content">
                            <a asp-page="/Photgraphers/Index">Our photographers</a>
                            <a asp-area="" asp-page="/Privacy">How we work</a>
                            <a asp-area="" asp-page="../Contacts">Contacts</a>
                        </div>
                    </div>
                </div>
                <div class="col-2 col-md-1 col-sm-1 extra-image">
                    <a asp-area="" asp-page="/Index">
                        <img src="~/images/second-logo.png" height="90" width="220" />
                    </a>
                </div>
            </div>
        </div>

    </header>
    <main role="main" class="pb-3">
        @RenderBody()
    </main>

    @RenderSection("Scripts", required: false)
</body>
</html>
